<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Hotel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">


    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


    <style>
        body {
            background-color: #FF6B81;
        }
    </style>


</head>

<body>
    <div class="columns" style="margin-top: 200px" id="payment">
        <div class="column"></div>
     <form :action="'/payment/' + name " method="POST">
         <div class="box column  has-text-centered" style="margin-top: 20px; padding: 50px; font-size: 1rem">
             <label for="">ช่องทางการจ่ายเงิน</label>
             <div>
                 <div class="select" style="margin-top: 10px">
                     <select style="width: 230px" v-model="checkType" name="checkType">
                         <option value="credit card">credit card</option>
                         <option value="cash">cash</option>
                     </select>
                 </div>
             </div>
             <br>
             <label for="">จำนวนเงินที่ต้องโอน</label>
             <div>
                <div class="select" style="margin-top: 10px">
                    <select style="width: 230px">
                        <option :value="name.split(' ')[6]">{{name.split(' ')[6]}}</option>
                    </select>
                </div>
            </div>
             <br>
             <label for="">จำนวนเงินที่โอน</label>
             <div>
                 <input type="number" v-model="number" class="input" style="width: 230px; margin-top: 10px" name="number" />
             </div>
             <br>

             <a> <button class="button has-background-danger is-normal is-rounded" type="submit">Next</button> </a>
         </div>
     </form>
        <div class="column"></div>
        <div class="columns">

            <div :class="{modal: modal, 'is-active':done, 'column' : true}">
                <div class="modal-background"></div>
                <div class="box  modal-content column is-one-quarter">
                    <div class="field">
                        <label class="label has-text-centered">จองเรียบร้อย</label>
                    </div>

                    <a href="http://localhost:3000/"><button class="button is-success">OK</button></a>
                </div>

            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
           el: '#payment',
           data :{
                 name : JSON.parse('<%- name %>'),
                 check : JSON.parse('<%- check %>'),
                 done : '<%- done %>',
                 checkType : '',
                 number : '',
                 isActive_Done : false,
                modal : true
           }

       })
   </script>
</body>

</html>