<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Booking Hotel</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <style>
        body {
            background-color: #FF6B81;
            color: black;
        }

        .login {
            background-color: rgb(255, 218, 224);
            padding: 100px;
        }

        button {
            background-color: antiquewhite;
            border-radius: 10px;
            padding: 5px;
            padding-left: 50px;
            padding-right: 50px;
            border-color: antiquewhite;
        }

        input {
            padding: 5px;
        }

        td {
            padding-left: 10px;
        }
    </style>

</head>

<body>
    <div id="signUp">
        <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

        <!-- Preloader -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- /End Preloader -->
        <div class="container">
            <div class="login" style="margin: 100px; text-align: center;font-size: larger;">
                <strong style="font-size: 2rem;"> Sign-up </strong> <br><br>
                <center>
                    <form action="/signup" method="POST">
                        <table>
                            <tr>
                                <td>First Name : </td>
                                <td><input type="text" name="fname" placeholder="first name" /required v-model="fname">
                                </td>
                            </tr>
                            <tr>
                                <td>Last Name : </td>
                                <td>
                                    <input type="text" name="lname" placeholder="last name" /required>
                                </td>
                            </tr>
                            <tr>
                                <td>tel : </td>
                                <td><input type="tel" name="tel" /required></td>
                            </tr>
                            <tr>
                                <td>E-mail : </td>
                                <td>
                                    <input type="email" name="email" /required>
                                </td>
                            </tr>
                            <tr>
                                <td>password : </td>
                                <td><input type="password" name="password" placeholder="******" /required></td>
                            </tr>

                        </table>
                        <br>
                        <div style="background-color: #FFBABA; width: 20%; border-radius: 10px;" v-if="err != ''">
                            <h5 style="color: #D8000C; padding: 10px; text-align: center;" >{{err}}</h5>
                        </div>

                        <br><br>
                        <a><button type="submit">Sign Up</button></a>
                    </form>
                    <br>
                    <a href="http://localhost:3000/login"><button>login</button></a>
                </center>
            </div>

        </div>

        <!-- ========================= scroll-top ========================= -->
        <a href="#" class="scroll-top">
            <i class="lni lni-chevron-up"></i>
        </a>
    </div>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">

        //====== counter up
        var cu = new counterUp({
            start: 0,

            duration: 2000,
            intvalues: true,
            interval: 100,
            append: " ",
        });
        cu.start();


        var app = new Vue({
            el: '#signUp',

            data: {
                fname: '',
                err : JSON.parse('<%- error %>'),
                lname: '',
                tel: '',
                email: '',
                password: '',

            },

            created(){
                console.log(this.err)
                if(this.err == 'done'){
                    // console.log('folk')
                    alert('ลงทะเบียนสำเร็จ')
                    window.location.href = 'http://localhost:3000/login'
                }
                else{
                    console.log('folk')
                }
            }
        })
    </script>
</body>

</html>