<!DOCTYPE html>
<!-- <html class="no-js" lang="zxx"> -->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Booking Hotel</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


    <style>
        .container {
            margin-top: 100px;
        }

        nav {
            font-size: larger;
            padding: 10px;
            background-color: #FF6B81;
        }
    </style>
</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <nav>
        <a href="/admin" style="color:#fff">HOME</a>
    </nav>


    <div class="container">

        <div id="orders" class="content-tab">
            <table class="table has-text-centered" align="center">
                <tr class="has-background-info-light" style="background-color: #FF6B8188;">
                    <td>booking id</td>
                    <td>customer id</td>
                    <td>name</td>
                    <td>room id</td>
                    <td>check in</td>
                    <td>check out</td>
                    <td>price</td>
                    <td>booking date</td>
                    <td>payment id</td>
                    <td>payment state</td>
                    <td> </td>
                </tr>
                <tr id="editPlace"></tr>
                <tbody class="has-background-light subtitle" v-for="item in history" :key="item">
                    <tr :id="item.booking_id">
                        <td>{{ item.booking_id }}</td>
                        <td>{{ item.customer_id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.room_id }}</td>
                        <td>{{ item.check_in.split("T")[0] }}</td>
                        <td>{{ item.check_out.split("T")[0] }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.booking_date.split("T")[0] + ' ('+ item.booking_date.substring(12, 19) + ')'}}</td>
                        <td>{{ item.payment_id }}</td>
                        <td v-if="item.payment_state == 'incomplete'" style="color: red">{{ item.payment_state }}</td>
                        <td v-else="item.payment_state == 'incomplete'" style="color: green">{{ item.payment_state }}
                        </td>
                        <td> <button style="border-radius: 5px;" @click="edit(item)"
                                class="btn btn-outline-secondary btn-sm"> Edit </button>
                            <button style="border-radius: 5px;" @click="cancel(item.booking_id)"
                                class="btn btn-danger btn-sm"> cancel </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">

        //====== counter up
        var cu = new counterUp({
            start: 0,
            duration: 2000,
            intvalues: true,
            interval: 100,
            append: " ",
        });
        cu.start();



        var app = new Vue({
            el: '#orders',
            data: {
                history: JSON.parse('<%- booking_order %>'),
                price: 0
            },
            methods: {
                cancel(bookingId) {
                    // cancel order

                    if (confirm("คุณต้องการยกเลิกการจองหมายเลข " + bookingId) == true) {
                        window.location.href = `http://localhost:3000/bookingOrder/cancel/${bookingId}`
                    } else {
                        window.location.href = 'http://localhost:3000/bookingOrder'
                    }
                }, edit(booking) {
                    // edit order
                    document.getElementById(booking.booking_id).innerHTML = `
                        <td>${booking.booking_id}</td>
                        <td>${booking.customer_id}</td>
                        <td>${booking.name}</td>
                        <td><input class="form-control" type="text" name="room_id" value="${booking.room_id}"></td>
                        <td><input class="form-control" type="date" name="check_in" value="${booking.check_in}"></td>
                        <td><input class="form-control" type="date" name="check_out" value="${booking.check_out}"></td>
                        <td><input class="form-control" type="number" name="room_id" value="${booking.price}" v-model='price'></td>
                        <td>${booking.booking_date}</td>
                        <td>${booking.payment_id}</td>
                        <td>${booking.payment_state}</td>
                        <td>
                            <button onclick="confirmEdit()" type="submit" class="btn btn-outline-success btn-sm"> confirm </button>
                            <button onclick="cancelEdit()" class="btn btn-outline-danger btn-sm"> cancel </button>
                            </td>
                    `
                },
                confirmEdit(item) {
                    console.log("confirm")
                    document.getElementById(item.booking_id).innerHTML = ``
                },
            }
        })


        function confirmEdit() {
            console.log("confirm")
            // localStorage.setItem('edit', item);
            // console.log(item)
            // window.location.href = 'http://localhost:3000/editBooking';
            location.reload()
        }
        function cancelEdit() {
            location.reload()
        }

    </script>
</body>

</html>